.App {
  text-align: center;
}
ul{
margin: 0;
padding: 0;
}
ul li{
  list-style: none;
}
body{
  background-color:#000000d6;
  color: #bbb8b8;
  box-sizing: border-box;
}
.app-addbtn {
    margin: 0 0 50px 50px;
}
